name: Dwellux Docker CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    env:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ env.DOCKERHUB_TOKEN }}

      # Build & push backend
      - name: Build and push backend image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile.server
          push: true
          tags: |
            ${{ env.DOCKERHUB_USERNAME }}/dwellux-backend:latest
            ${{ env.DOCKERHUB_USERNAME }}/dwellux-backend:${{ github.sha }}

      # Build & push frontend
      - name: Build and push frontend image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile.client
          push: true
          tags: |
            ${{ env.DOCKERHUB_USERNAME }}/dwellux-frontend:latest
            ${{ env.DOCKERHUB_USERNAME }}/dwellux-frontend:${{ github.sha }}
